[2020-04-09 21:37] shinmog commented on #1
@zimmermanc

This is a temporary issue because of the redirect in the go.mod file that assumes you've `git clone`ed the prisma-cloud-go repo, and they share the same parent directory.  When this is ready to be released, dependencies will be vendor'ed in, so this won't be an issue.  :)

[2020-04-20 16:11] shinmog commented on #1
Dependencies are now vendored in, closing this issue.

[2020-06-29 21:43] shinmog commented on #2
Thanks for catching this; but it's just a temporary difference in where the provider lives now vs where it will live once it's finished going through the certification process.

[2020-06-29 21:45] shinmog commented on #3
Thanks for reporting this; I saw this and fixed it as part of developing the acceptance tests which are now part of this repo.  If you `git pull` and rebuild the provider it will now work.

[2020-06-30 15:23] shinmog commented on #3
Closing this as it's fixed now.

[2020-06-30 15:25] shinmog commented on #4
This provider is currently going through the certification process, which will allow it to be retrieved automatically via `terraform init`.

[2020-07-21 01:23] Melchizedech opened #1 "Cannot use Logging capabilities"
## Describe the bug

It is not possible to benefit from the logging/debugging capabilities of the go SDK of PaloAlto while using this provider.

## Expected behavior

As outlined in the documentation, https://www.terraform.io/docs/providers/prismacloud/index.html#logging, when I add a mapping to enable logging, I have logging/debugging information output.

## Current behavior

The logging/debuggin

[2020-07-21 01:32] Melchizedech opened #2 "Cannot create a Slack integration"
## Describe the bug

It is not possible to create a Slack integration.

## Expected behavior

As outlined in the documentation, https://www.terraform.io/docs/providers/prismacloud/r/integration.html, I can add a Slack Integration.

## Current behavior

When I add a Slack integration using this config

[code]

I get the error :

[code]

When I use the right param as expected in your API

[code]
I g

[2020-07-21 01:43] Melchizedech opened #3 "Cannot create a GCP cloud account"
## Describe the bug

It is not possible to create a GCP Cloud Acccount.

## Expected behavior

As outlined in the documentation, https://www.terraform.io/docs/providers/prismacloud/r/cloud_account.html, I can add a GCP Cloud Account.

## Current behavior

When I add a GCP Cloud Account, I get an error :

[code]

resource is configured :

[code]

## Possible solution

Use the `account_id` when crea

[2020-07-22 04:21] Melchizedech commented on #2
Hi,

Looks like the issue needs to first be solved in the https://github.com/PaloAltoNetworks/prisma-cloud-go repository.

There is no `WebhookUrl` attribute in the `IntegrationConfig` struct : https://github.com/PaloAltoNetworks/prisma-cloud-go/blob/master/integration/structs.go#L20.

[2020-07-22 16:46] ZachTB123 commented on #3
Same issue with an Azure subscription: `Error(msg:invalid_azure_subscription_id severity:error subject:invalid_parameter_value)`

[2020-07-22 16:53] ZachTB123 opened #4 ""key" shows in plaintext during Terraform plan for an Azure subscription"
## Describe the bug

I am trying to register an Azure subscription using the `prismacloud_cloud_account` resource. During `terraform plan`, the required `key` argument (which I believe is the Service Principal's password), is visible in plaintext.

## Expected behavior

A sensitive value like this should be be marked as sensitive during `terraform plan`.

## Current behavior

The `key` value is vi

[2020-07-22 23:15] Melchizedech commented on #3
I override the provider and installed it locally with that patch and it works fine updating/deleting/creating. Can be a solution in the meantime if you do the same for azure. I'm not knowledgeble enough though if this fix is fundamentally correct or not.

=>

[code]

[2020-07-23 05:16] Melchizedech opened #5 "Cannot create an instant emailing alerting rule"
## Describe the bug

I'm not able to create an "instant" Alert Rule due to an Error :
`Error(msg:wrong_rrule_format severity:error subject:)`

## Expected behavior

I should be able to create an "Instant" alert rule without any r_rule_schedule as I can do in the API.

## Current behavior

I can't have an alert rule working where as in works perfectly in the API.

An error is returned :
`Error(msg:

[2020-08-12 18:48] shinmog commented on #4
This is now published on (what is now) the classic provider ecosystem:

https://www.terraform.io/docs/providers/prismacloud/index.html

https://github.com/terraform-providers/terraform-provider-prismacloud

The new registry system HashiCorp is implementing for Terraform 0.13 still needs to have this (and the panos provider) added to it, but I'm going to close this issue out as it has addressed the

[2020-08-28 17:27] shinmog commented on #10
This was determined to be an environment issue.  The provider was built and available locally.  Deleting the locally built provider allowed `terraform init` to download the provider, at which point this issue went away.

[2020-09-14 09:53] rkitron opened #6 "Proxy settings are ignored"
## Describe the bug

My network has corporate proxy setup via environment variables.

## Expected behavior

Outgoing connection to Prisma API use the proxy

## Current behavior

Timeout exception

## Possible solution

Within prima-cloud-go library:
[code]
Thanks,
Benoit

[2020-09-16 19:34] shannonrdunn commented on #6
Also experiencing this issue

[2020-10-16 18:55] phundisk opened #7 "Notification_config on alert rules are not ignored properly"
## Describe the bug
I have been using terraform to manage alert rules, what policies to add to them and accounts.  The notification configuration section does not seem to be something you can manage within terraform unless you specify the GUID of the "config_id" and GUID of the "recipients" manually.  Because of this, when we manage and create alert rules, we add the lifecycle configuration of ign

[2020-10-16 20:54] phundisk commented on #7
Actually maybe there is more here.  I think the entire notification_config just does not work.  I tried to add a notification configuration and the API does not seem to take it.  Removing the notification config and creating an empty alert rule seems to work just fine.  Tried multiple combinations, using data sources, static text fields, and this does not create unless the notification_config is j

[2020-10-19 09:49] CHARA77 opened #8 "Limitation of "Alerts Reports" feature by Terraform"
We have limitation with the feature "Alerts Reports", we have based our process of alerts on this feature,  we would like to send to our Stakeholders this type of report "cloud security assessment" by Terraform but it seem not possible.

Solution :
We would like to have "Alerts Reports" on the Terraform Provider Prisma Cloud.

[2020-10-29 12:19] nikki-kapil opened #9 "Authentication required for Provider"
## Describe the bug

'terraform init' errors with 'authenticationrequired' after I added the prisma provider as shown below:
[code]

## Expected behavior

terraform init should work even with the new provider

## Current behavior

After adding the provider, I'm getting this error on running 'terraform init' locally:
[code]
## Possible solution

Plan works from TFC but not from my local machine.

#

[2020-10-29 15:57] shinmog commented on #9
Using your config file and Terraform 0.13.2, I'm unable to reproduce this:

[code]

[2020-10-29 20:30] ebeuerle commented on #6
Fixed in v1.0.4 of the provider.

[2020-10-29 20:30] #6 closed, assigned to nobody

[2020-10-30 20:47] #9 closed, assigned to nobody

[2020-10-30 20:49] nikki-kapil commented on #9
This may be down to the fact that as an org we use one proxy for github and a different one for everything else. Although a solution will still be good to get.

[2020-10-30 21:06] nikki-kapil opened #10 "Example creating a Prisma cloud account for GCP"
## Documentation link

Please provide an example inserting GCP Service account keys into resource prismacloud__cloud_account

## Describe the problem

I am trying to create a Service Account on GCP and then inserting its key into Prisma using this provider. Here is my code:
[code]
This is the error I get on running 'terraform apply':
[code]

## Suggested fix

What does the above error mean?

'terr

[2020-11-02 16:31] ebeuerle commented on #10
A 400 error typically means it's a duplicate - was this project already added to Prisma Cloud?

[2020-11-03 10:49] nikki-kapil commented on #10
If I go to PrismaCloud > Inventory > Cloud Account - I don't see the project to which my GCP Service account belongs.

Could there be another cause to this error, like:
1. Due to subject:invalid_parameter_value of the Json credentials?
credentials_json = module.prisma_service_account.key
2. Or could it be because at the point when the Prismacloud_cloud_account is being created, the GCP Service Acc

[2020-11-03 12:52] ebeuerle commented on #10
I would suggest enabling logging so we can see what API is actually returning the error.  Please post the results here.

[2020-11-03 14:59] nikki-kapil commented on #10
DEBUG logs:
[code]

[2020-11-04 14:54] ebeuerle commented on #10
Oh I see the issue - you need to pass the project id in the account_id field and you are passing the service account instead.  Give that a try!

[2020-11-05 09:29] nikki-kapil commented on #10
Still no joy:
[code]

[2020-11-05 14:28] ebeuerle commented on #10
Are you setting logging for send and receive to true?  I should see more output on the actual API calls being made...

[2020-11-05 15:06] nikki-kapil commented on #10
I am running this on TerraformCloud and have set [TF_LOG](https://www.terraform.io/docs/internals/debugging.html) to DEBUG. Is that what you are talking about?

[2020-11-05 22:34] nikki-kapil commented on #10
Is this the way to set logging you've asked for:
[code]

[2020-11-06 00:04] ebeuerle commented on #10
Yes that looks correct.

[2020-11-06 14:31] nikki-kapil commented on #10
That didn't affect the logging though. Could you provide an example of the resource prismacloud_cloud_account that is GCP specific?

[2020-11-10 20:35] ebeuerle commented on #10
Looks like the GCP cloud API changed so the TF provider is currently broken for GCP.  I will work to get that fixed.

[2020-11-11 22:47] ebeuerle commented on #10
I fixed this so GCP should work correctly now.  Syntax:

resource "prismacloud_cloud_account" "prismacloud_account" {
  gcp {
         account_id = "carbide-buckeye-239422"
         enabled = true
         group_ids = [
           "e6e0e0a9-9749-4c72-9819-86a92ec83489"
         ]
         name = "Eddie test"
         credentials_json = file("cred.json")
  }
}

[2020-11-11 22:48] ebeuerle commented on #3
This has been fixed.

[2020-11-11 22:48] #3 closed, assigned to nobody

[2020-11-11 23:41] nikki-kapil commented on #10
Thanks Eddie. So the good news is that using v1.0.5 of the provider did create an account for me in Prisma (at project level).
But I wanted to create the account at 'organisation level' rather than 'project level'. Can you provide the syntax to create an org level account too please?

[2020-11-11 23:51] ebeuerle commented on #10
Unfortunately, the TF provider doesn't support Orgs for AWS or GCP as of yet.  It's on the list to get done in the near future.

[2020-11-11 23:53] ebeuerle commented on #10
BTW I did figure out why logging wasn't working - needs to be added via json_config_file = "config.json".  If you add the logging section to that config.json, and then call using TF_LOG, then it should output correctly.

[2020-11-11 23:58] nikki-kapil commented on #10
Can I vote for this feature somewhere?  Also, any idea on it's ETA?

[2020-11-12 11:26] nikki-kapil commented on #10
Also, if not already done could you update the docs here https://registry.terraform.io/providers/PaloAltoNetworks/prismacloud/latest/docs/resources/cloud_account to say that the TF provider doesn't support Orgs for AWS or GCP as of yet.

[2020-11-12 14:14] ebeuerle commented on #10
Yes, if you have access to the Prisma Cloud UI, you can click on the question mark icon in bottom right, then click on Product and Submit a request for filing a feature request.   Hopefully, it can be added by EOY.  I am planning to update the docs today for the new options I added yesterday and I will put in a note regarding AWS/GCP orgs.

[2020-11-17 21:28] UranusBytes opened #11 "Import fails on prismacloud_alert_rule with timezone"
## Describe the bug

When performing an import of a prismacloud_alert_rule resource that has a define schedule (this is a recurring email set to repeat 1 per day at 12pm New York Time, the import fails with the following error:

[code]

If the alert rule is queried by ID directly through the API (/alert/rule/id), the value is as follows:
[code]

## Expected behavior

Import resource into state

##

[2020-11-18 18:57] ebeuerle commented on #1
This should be fixed as of v1.0.7 - please validate.

[2020-11-18 18:58] ebeuerle commented on #7
This should be fixed now as of v1.0.7 - please validate.

[2020-11-18 18:59] ebeuerle commented on #10
Closing out since issue is now fixed.

[2020-11-18 18:59] #10 closed, assigned to nobody

[2020-11-18 19:00] ebeuerle commented on #1
I have validated that logging is working correctly.  Closing issue.

[2020-11-18 19:00] #1 closed, assigned to nobody

[2020-11-18 19:08] #4 closed, assigned to nobody

[2020-11-18 19:11] ebeuerle commented on #4
Fixed in v1.0.8

[2020-11-24 13:32] andrew-rolls-drew-db opened #12 "Provider Support for GCP CSCC"
Please could you confirm if the TF provider is up to date with the API for GCP integrations?

I ask this as the output from an API call to retrieve an existing integration yields the below output.

Key values hidden with x
{
  "id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
  "name": "CSCC Integration",
  "integrationType": "google_cscc",
  "integrationConfig": {
    "orgId": "xxxxxxxxxxxxxx",
    "

[2020-11-30 19:50] ZachTB123 opened #13 "prismacloud_cloud_account detects diff on every terraform plan for an Azure subscription"
## Describe the bug

Every `terraform plan` for an Azure subscription detects a diff:

[code]

## Expected behavior

There should be no resources to create or update since nothing has changed.

## Current behavior

`terraform plan` detects a diff and `terraform apply` modifies the resource.

## Possible solution

Looking at the state file, the reason for this is because `key` is being masked:

[co

[2020-11-30 20:14] ZachTB123 opened #14 "Allow prismacloud_cloud_account to disable the account on terraform destroy"
### Is your feature request related to a problem?

We have a requirement that we disable rather than delete a cloud account when we go through our decommission process. We do this to ensure we do not lose the history for the account. Currently we are using a custom script to onboard cloud accounts in Prisma but would like to switch to using the Terraform provider. With our current script, we accom

[2020-12-02 18:58] phundisk commented on #7
I will take a look at this this week.

[2020-12-03 15:00] phundisk commented on #7
Still getting the same error with the latest provider.  I think its something with the notification config still based on the errors.  I was originally trying to just ignore the notification_configs entirely since there not really a good way to manage them in the prisma provider in the first place using something like that

[code]

Here is me using the latest version:
[code]

Here is what is showi

[2020-12-04 15:28] sekido opened #15 "Add resource for RQL (saved searches)"
### Is your feature request related to a problem?

I'm happy if the provider can manage RQL (saved searches) with Terraform to track history why I update it.

Policies are tracking resources on clouds, and RQL (saved searches) are required by Policies. Currently, Terraform Provider Prisma Cloud has a resource for policies. Still, I have to pass the ID to create saved searches outside Terraform --

[2021-01-08 00:06] ZachTB123 opened #16 "Allow prismacloud_cloud_account to update the account on create"
### Is your feature request related to a problem?

If an account is already onboarded at the time of creating the `prismacloud_cloud_account` resource, it will fail and say that it must be imported. I would like to see a feature that allows you to configure this resource in such a way that it will not fail in this scenario, and instead update the account.

### Describe the solution you'd like

The

[2021-01-08 15:24] erikpaasonen commented on #16
ZachTB123's changes to his fork can be previewed here: https://github.com/PaloAltoNetworks/terraform-provider-prismacloud/compare/master...ZachTB123:dev

[2021-01-18 09:21] ghost commented on #15
I would also be keen to see this feature implemented as the terraform provider currently lacks the support to create and manage the saved searches used with policies.

[2021-01-22 21:53] ryan-stavella opened #17 "Cannot use this provider with "Anomaly" type policies"
## Describe the bug

Cannot put the Anomaly policies into code as they are not supported.

## Expected behavior

Policy type should have support for Config, Audit, Network, and Anomaly policies

## Current behavior

Anomaly type is recognized after importing but cannot be used

![tfss](https://user-images.githubusercontent.com/71134114/105552435-e7b12a80-5cd1-11eb-97ce-0c5d9359cf5c.png)

Trying to

[2021-01-22 23:15] ebeuerle commented on #17
Hi Ryan,
We didn't add support for anomaly policies because you can't create them in the system unlike config/network/audit policies.  What capabilities do you need for anomaly policies?  Ability to add compliance standards to them?

[2021-01-25 16:22] ryan-stavella commented on #17
Yes, we need the ability to add them to alert rules, add tags and compliance standards.

[2021-01-25 17:10] ebeuerle commented on #17
Okay thanks - I will put this in our backlog to get done.  Thanks for the info!

[2021-01-28 16:33] jeremyp-synopsys commented on #17
+1

This is blocking us from fully managing our custom compliance standards that would leverage the anomaly policies...

[2021-02-01 14:35] sbldevnet commented on #15
This feature would be great for versioning policies and change management easily.
I need it!

[2021-02-05 22:11] ebeuerle commented on #15
v1.1.0 has been released and supports this now.  CAVEAT: network saved searches is not in place yet but will be next week.

[2021-02-05 22:11] #15 closed, assigned to nobody

[2021-02-10 11:35] solalraveh opened #19 "policy_id in policy resource always changes to null on tf apply"
### Is your feature request related to a problem?

When provisioning a policy resource, adding all possible fields to its compliance metadata, there's one field that can't be populated by referencing other resources (but only explicit text).
This field is `policy_id`, is also used in the REST API and isn't mandatory nor critical in compliance metadata.
Since it's a field, every time a `tf apply` i

[2021-02-10 11:35] solalraveh commented on #19
@ebeuerle I'll chat to you offline and TIA!

[2021-02-12 09:39] solalraveh opened #20 "saved search not deleted if module has both saved search and policy declared"
## Describe the bug

I've attached an example folder structure to test the bug.
When a module has both saved search and policy declared, when `tf destroy` is made, it doesn't show it destroys it, and the resource remains in Prisma Cloud.
Running `tf apply` after that (even if waiting), says the saved search resource still exists (as reported).

## Expected behavior

All resources expected to prope

[2021-02-16 22:21] ryan-stavella commented on #17
Hi @ebeuerle, Is it possible to add support for Build policies too? We would like to manage custom IaC policies and also add custom compliance tags + standards like mentioned for the Anomaly policies.

[2021-02-18 14:22] erlend-vimond opened #21 "prismacloud_alert_rule target tags cause RPC error"
## Describe the bug

RPC error when trying to use alert rule target tags.

## Expected behavior

When specifying the tag block in the target block of a prismacloud_alert_rule, it should add the tags with the specified key and values identically to how they would be added manually using the website.

## Current behavior

An RPC error causes the Terraform apply to abort:

```Error: rpc error: code =

[2021-03-11 15:37] zimmermanc commented on #14
@ZachTB123 I was told you implemented this on your side already. Would you be able to submit a Pull request for your changes?

[2021-03-11 17:22] zimmermanc commented on #16
@ZachTB123 Would you be able to add this as Pull request for us to review?

[2021-03-17 19:14] ZachTB123 commented on #14
@zimmermanc I can though it might be a bit yet since I have to go through an internal process first.

[2021-03-30 17:15] tkishel opened #23 "Add example usage"
Something like ...

[code]
and show a screen shot of the Terraform Example Group in the UI

[2021-04-09 18:44] ebeuerle commented on #13
Is this still an issue?

[2021-04-09 18:47] ebeuerle commented on #20
Saved searches can't be deleted.

[2021-04-09 18:47] #20 closed, assigned to nobody

[2021-04-09 19:20] ZachTB123 commented on #13
@ebeuerle Yes, this is still an issue.

[2021-04-12 19:02] ebeuerle commented on #23
Feel free to file a PR :-)

[2021-04-13 13:58] tomsucho commented on #19
Hey! is there a workaround/solution for this?

[2021-04-13 15:26] ebeuerle commented on #19
I am working to get this fixed this week.

[2021-04-13 16:57] tomsucho opened #24 "Attaching existing policy to a newly created standard - state not persisting."
## Describe the bug

As a test I'm trying to assign an existing policy to a newly created standard via TF code. I achieve this by basically appending compliance_metadata block after the pre-existing ones. It works in general i.e. TF makes the change fine and I can see this reflected in the Prisma UI as well, however any subsequent TF plan will notice it needs to do this same change again?
Here las

[2021-04-14 07:25] erlend-vimond commented on #21
Resolved by merged PR

[2021-04-14 07:25] #21 closed, assigned to nobody

[2021-04-14 18:56] luisledezmaGL commented on #24
When I try to create a policy with `compliance_metadata` I'm getting this error:
`Error: 500/https://api3.prismacloud.io/policy Error(msg:internal_error severity:error subject:)`
And when I try to update the policy with the compliance_metadata block, nothing happens.

[2021-04-14 19:14] tomsucho commented on #24
yeah I've seen this too. I think this is due to wrong compliance_id or maybe some other attribute receiving wrong type/input (we should still see 400 though, but anyways). Here is my example if that helps

[code]

[2021-04-16 15:36] jasonckeating opened #25 "cloud_type is required in policies and policy rule block"
## Documentation link
https://registry.terraform.io/providers/PaloAltoNetworks/prismacloud/latest/docs/resources/policy

## Describe the problem
Documentation does not say cloud_type is required for policy or rule, but I received a generic error when not including them.
Example:
[code]

## Suggested fix
In both policy and rule, documentation should read
(ex. cloud_type - (Required) Cloud type)

an

[2021-04-16 19:36] ebeuerle commented on #2
Fixed.

[2021-04-16 19:36] #2 closed, assigned to nobody

[2021-04-19 16:23] jasonckeating opened #26 "Self-referential GUIDs in Prisma policies"
## Describe the bug

The `prismacloud_policy` resource has an attribute `policy_id` in the `compliance_metadata block`.
It is self-referential, (declaring the policy guid, within the policy declaration).
_This defeats the purpose of a guid if a person manually enters it, and causes the risk of overwriting another policy if the same guid is used. **The Terraform apply will fail if a variable is use

[2021-04-19 16:36] ebeuerle commented on #26
Fixed in next version.

[2021-04-19 16:37] ebeuerle commented on #19
Fixed in next version.

[2021-04-19 16:42] ebeuerle commented on #26
New release being pushed now - can you validate that this fixes the issue?

[2021-04-19 16:46] jasonckeating commented on #26
For sure, I'll test as soon as I see the new version.
Still seeing v1.1.1 as the latest release

[2021-04-19 19:58] jasonckeating commented on #26
Pulled the new provider v1.1.2
That took care of the policy_id flip-flopping.

Thanks!!

[2021-04-19 19:58] #26 closed, assigned to ebeuerle

[2021-04-19 20:18] ebeuerle commented on #19
Fixed as of 1.1.2.

[2021-04-19 20:18] #19 closed, assigned to nobody

[2021-04-20 21:07] jasonckeating opened #27 "Policies/ Saved Searches cannot be Terraform Managed"
## Describe the bug

To create a policy via Terraform, 3 resources have to be defined:
- prismacloud_rql_search
- prismacloud_saved_search
- prismacloud_policy

A `prismacloud_saved_search` cannot be updated.
For example, if the name of the search is updated, the Terraform fails to apply because the search name already exists.

When running `terraform apply` with an update to RQL, the provider att

[2021-04-20 21:32] ebeuerle commented on #27
Yes, this is a known issue and you need to modify the name of the saved search.  The API doesn't support deleting saved searches so we added this to the docs: "NOTE: Prisma Cloud does not currently support deleting RQL searches, so terraform destroy is a noop."

[2021-04-21 13:10] jasonckeating commented on #27
Got it, I missed that statement in the docs.
To get around the issue for the time being, we've appended a random_id to the saved_search name. I'm just concerned about the list of saved_searches in Prisma growing very large over time.

[2021-04-21 14:25] ebeuerle commented on #27
I will have to leave that up to our API/Product personnel to deal with...

[2021-04-21 14:25] #27 closed, assigned to nobody

[2021-04-21 15:45] jasonckeating opened #28 "Clarity around policy options"
## Documentation link
https://registry.terraform.io/providers/PaloAltoNetworks/prismacloud/latest/docs/resources/policy

## Describe the problem

The `prismacloud_policy` resource defines a list of parameters for selecting a saved_search.
There are two valid keys in the docs:
[code]

What do these values set?
I have toggled savedSearch to false, but get a failure, when applying.

Would like to set

[2021-04-28 11:11] netjordan opened #29 "Support the 'Only for Compute Capabilities' option for prismacloud_user_role"
### Describe the solution you'd like
In recent versions of Prisma there is a option for 'Only for Compute Capabilities' when creating use roles as documented here - https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-admin-compute/authentication/prisma_cloud_user_roles.html this provider should be extended to support this in the prismacloud_user_role resource.

### Describe alternat

[2021-05-20 18:10] ebeuerle commented on #14
Fixed in next push.

[2021-05-20 18:11] ebeuerle commented on #16
Fixed in next push.

[2021-05-21 14:26] jasonckeating opened #38 "Alert Rules do not support documented notifications"
## Describe the bug

On creation of an alert rule, when setting the notification options, they fail to apply as if the API does not support them.

## Expected behavior

Notification updates should apply successfully to Prisma.

## Current behavior

When updating an alert rule with the different notify settings,
- notify_on_open
- notify_on_snoozed
- notify_on_dismissed
- notify_on_resolved

Only t

[2021-05-26 14:28] moonman81 opened #39 "compliance standard import fails"
## Describe the bug
Unexpected error when importing a compliance standard

When attempting to import a compliance standard, I get the error:

Error: invalid character '"' after object key:value pair
 on /Users/redacted/main.tf line 1, in provider "prismacloud":
   1: provider "prismacloud" {

When running:

terraform import prismacloud_compliance_standard.this [valid guid here]

from the following

[2021-06-02 20:17] community-health-panw[bot] opened #40 "[Community Health Assessment] Changes needed"
| Health Check | Pass | Score | More Info |
| ------------ | ---- | ----- | --------- |
| Contains a meaningful README.md file | :white_check_mark: | 20 / 20 | [More info](https://github.com/PaloAltoNetworks/.github/blob/master/docs/community-rules.md#readme-file)
| SUPPORT.md file exists | :white_check_mark: | 20 / 20 | [More info](https://github.com/PaloAltoNetworks/.github/blob/master/docs/comm

[2021-06-15 16:25] rmclaughlin-nelnet opened #43 "Support for compute functionality"
### Is your feature request related to a problem?
The current Prisma terraform provider does not support compute functionality. We found this provider https://github.com/CircleCI-Archived/terraform-provider-twistlock but it is deprecated and points us to use the official provider. Is this in your pipeline, if so how far out is it?

### Describe the solution you'd like
I would like to have compute

[2021-06-15 16:30] ebeuerle commented on #43
There are plans for a Compute provider but it will be separate from this one for time being...

[2021-06-17 14:26] rmclaughlin-nelnet commented on #43
Thanks for the reply. Is this being worked on right now or is it still months/years/decades out? We are just trying to plan out what we are going to do while we wait and how much time we want to invest in a one off solution.

[2021-06-17 14:43] ebeuerle commented on #43
I would guess at least 1-2 months out.

[2021-07-31 10:24] netjordan opened #48 "When using variables to provide group_ids in prismacloud_cloud_account a change is always required"
## Describe the bug

We have the terraform code:
[code]

However, on every plan/apply we get something similar to:
[code]

## Expected behavior

I would expect it not to care about the ordering in this situation as it does not matter.

## Current behavior

Terraform will detect changes on every apply, and apply updates to the prisma cloud api. This means the apply change is applying changes unnece

[2021-08-04 22:23] AjkayAlan opened #49 "prismacloud_cloud_account: group_ids order is inconsistent"
## Describe the bug

Multiple group ids in the prismacloud_cloud_account - group_ids field is resulting in inconsistencies between file and state, causing reprovisions when they shouldn't.

Could this be corrected?

## Expected behavior

Defining multiple group id's should be deterministic and not cause a change between runs.

## Current behavior

I have a super simple change which enables a featu

[2021-08-05 14:14] AjkayAlan commented on #49
Related to: #48. If you want to track this issue in one ticket, feel free to close mine.

[2021-08-05 20:57] jasonckeating commented on #2
I am getting the exact issue described here.

Version: 1.1.2
Requesting a reopen

[2021-08-05 21:03] jasonckeating commented on #38
This was fixed by an API update, and is now working, thanks!

[2021-08-05 21:03] #38 closed, assigned to nobody

[2021-09-08 15:33] larryboymi opened #57 "IAM Policy Support"
### Is your feature request related to a problem?

I would like IAM policies supported by the API's/Terraform so that when I want to save a policy or make a change to one via the API or Terraform, that I'm able to do so.

### Describe the solution you'd like

The [resource_rql_search.go](https://github.com/PaloAltoNetworks/terraform-provider-prismacloud/blob/cb8c21c4329b5ecaee77145a4d66945940ecf86

[2021-09-16 13:10] sidhurana-chd opened #67 "Add an account group and associate with cloud account"
## Describe the bug

Our AWS accounts are already onboarded via Org-ID. We executed cloudformation stackset. We are facing error while adding an account group and associating with existing cloud account(s)

## Expected behavior

Add new Account group and association with existing on-boarded account should work.

## Current behavior

Error while applying via terraform :  prismacloud_cloud_account.p

[2021-09-17 17:24] #11 closed, assigned to nobody

[2021-09-17 17:24] #40 closed, assigned to nobody

[2021-09-17 17:37] #29 closed, assigned to nobody

[2021-09-17 18:00] #23 closed, assigned to nobody

[2021-09-17 18:02] #12 closed, assigned to nobody

[2021-09-17 18:03] #28 closed, assigned to nobody

[2021-09-17 18:03] #25 closed, assigned to nobody

[2021-09-20 16:36] #5 closed, assigned to nobody

[2021-09-20 16:36] #57 closed, assigned to nobody

[2021-09-21 16:00] sgordon46 commented on #43
https://github.com/PaloAltoNetworks/prisma-cloud-compute-operator

[2021-09-21 16:25] rmclaughlin-nelnet commented on #43
Is the plan for the above provider to support all the prisma cloud compute functionality?

[2021-09-21 18:15] ebeuerle commented on #43
Yes.

[2021-09-21 18:15] #43 closed, assigned to nobody

[2021-09-22 13:54] CanadaLifeKyle opened #71 "Attempts to destroy default policy when removing compliance"
## Describe the bug

I am using terraform to create a custom compliance standard, requirements and sections and assign to existing default policies. This is working correctly.
When I attempt to remove a section id from a policy, terraform attempts to destroy the policy rather then modify it and remove the compliance metadata for our compliance section id. This results in a cannot_delete_default_po

[2021-09-27 14:39] josh-silvas opened #75 "User role resource errors when optional field `additional_attributes` is not defined."
## Describe the bug

When defining a resource to manage a user role in PrismaCloud, if the new optional field of `additional_attributes` is missing from the resource block, I get a index error.

[code]

## Expected behavior

Expected behavior would be for the user-role to be created in PrismaCloud.

## Current behavior

Stack trace from the terraform-provider-prismacloud_v1.1.4 plugin:

panic: run

[2021-10-01 14:35] ebeuerle commented on #14
Should be fixed now.

[2021-10-01 14:35] #14 closed, assigned to nobody

[2021-10-01 14:36] ebeuerle commented on #16
Should be fixed. Closing.

[2021-10-01 14:36] #16 closed, assigned to nobody

[2021-10-01 14:37] ebeuerle commented on #17
Fixed.

[2021-10-01 14:37] #17 closed, assigned to ebeuerle

[2021-10-01 14:37] ebeuerle commented on #24
Fixed.

[2021-10-01 14:37] #24 closed, assigned to nobody

[2021-10-14 20:10] jasonckeating opened #82 "IAM policies with compliance mapping fail to create"
## Describe the bug

IAM policies with compliance metadata fail when creating via Terraform
The rql_search and saved_search create without issue.

The policy creation failed on several runs,
my first error was the 400,
consecutive failures were 500s.

[code]
[code]

API documentation shows that iam type policies can be hooked up to standards.
https://prisma.pan.dev/api/cloud/cspm/policy/#operation

[2021-10-18 16:32] jasonckeating commented on #82
* Update, `iam` policies do not currently support compliance mappings in the UI or API.
This functionality is being added by Palo Alto.

Awaiting a timeline.

[2021-10-18 16:42] ebeuerle commented on #82
Closing ticket for time being until functionality is added.

[2021-10-18 16:42] #82 closed, assigned to ebeuerle

[2021-10-20 15:35] jasonckeating commented on #67
Just worked past an issue similar to this.
account_group_ids have to be a list of strings.

Verify the leading 0s aren't being removed from the account id list.

[2021-10-21 05:58] sunkavillisuranya commented on #67
Hi @sidhurana-chd,
From the terraform script you have attached for adding aws account,
resource "prismacloud_cloud_account" "platform-sandbox" {
aws {
name = "platform-sandbox"
account_id = "AWS ACCOUNT ID"
external_id = "PRISMA-ACCOUNT-ID"
group_ids = [
"AWS ACCOUNT ID",
]
role_arn = "arn:aws:iam::PRISMA-ACCOUNT-ID:role/PrismaCloudReadOnlyRole"
}
}
you assigned the aws account id for group_ids, g

[2021-10-21 17:52] sidhurana-chd commented on #67
this is resolved now. thx

[2021-10-21 17:53] #67 closed, assigned to nobody

[2021-10-28 16:38] #71 closed, assigned to nobody

[2021-10-28 16:38] #75 closed, assigned to nobody

[2021-10-28 18:08] ebeuerle commented on #49
Fixed in next release scheduled for Friday (10/29)

[2021-10-28 18:08] #49 closed, assigned to nobody

[2021-10-28 18:08] ebeuerle commented on #48
Fixed in next release scheduled for Friday (10/29)

[2021-10-28 18:08] #48 closed, assigned to nobody

[2021-10-29 14:59] ebeuerle commented on #8
Alert reports has been added.  CSA reports can only be downloaded.

[2021-10-29 14:59] #8 closed, assigned to nobody

[2021-11-03 14:23] trv-msieczko commented on #13
I'm experiencing this with Google Cloud as well

[code]

[2021-11-04 21:23] colehorsman opened #90 "403 incomplete_account_group_access error when creating an alert rule"
## Describe the bug

403 error when creating an alert rule. terraform plan works, but apply results in 403.

## Expected behavior

Create alert rule and apply to target account_group "Clud-Support-Sandbox"

## Current behavior0

Error: 403/https://api2.prismacloud.io/alert/rule Error(msg:incomplete_account_group_access severity:error subject:)
│
│   with prismacloud_alert_rule.example-test-rule,
│

[2021-11-04 22:12] ebeuerle commented on #90
policies = ["AWS IAM policy attached to users"] **(this needs to be a policy id)**

target {
account_groups = [
"Example-Support-Sandbox" **(this needs to be a acct grp id)**
]

[2021-11-04 22:19] colehorsman commented on #90
Can you give me example of policy Id and account group Id format?

On Thu, Nov 4, 2021, 5:12 PM Eddie Beuerlein ***@***.***>
wrote:

[2021-11-05 20:20] ebeuerle commented on #90
Typical uuid type format...

[2021-11-12 19:11] sebastian-clearme commented on #7
Any updates on this?

[2021-11-16 15:22] colehorsman opened #92 "Can't specify attributes when creating an alert rule"
## Describe the bug

Can't specify attributes when creating an alert rule

## Expected behavior

  notification_channels = [
    "aws_s3"
  ]

results in "unsupported argument"

from the api documentation "integrationConfig":{"s3Uri":"s3://bucket-example/folder" i need to specify this s3 uri for the alert rule integration but i don't see where the terraform documentation shows how to specify this

[2021-11-17 20:44] #90 closed, assigned to nobody

[2021-11-18 17:39] netjordan commented on #92
Hey,

The attribute 'notification_channels' is actually an output of the resource, rather than an argument that can be used as input. You should specify the integration id in the notification_config -> recipients list, as you have in your example, and you do not need to specify the notification_channels attribute.

 I think what you need is something like this:

[code]

To make sure your posts in

[2021-11-18 17:46] netjordan commented on #39
Hi @moonman81

I've faced this issue before, I think it's actually a terraform/windows issue. Did you try escaping the double quotes when running the command? - for example:
`terraform import prismacloud_compliance_standard.this[\"valid guid here\"]`

This is a related report in the terraform project - [https://github.com/hashicorp/terraform/issues/22286](https://github.com/hashicorp/terraform/iss

[2021-11-25 11:58] iokush opened #93 "Policy argument "enabled" doesn't close open alerts"
## Describe the bug

While updating the `enabled` argument to false for an existing policy, the open alerts aren't closed.

## Expected behavior

Any open alerts should be resolved if `enabled = false` is set.

## Current behavior

Currently, the open alerts aren't closed while setting the `enabled` argument while if the same action is done via the Prisma Cloud console UI - the open alerts are clo

[2021-12-01 15:51] ebeuerle commented on #93
@iokush Can you provide the output from your tf apply?

[2021-12-01 15:55] ebeuerle commented on #7
We have been unable to reproduce this bug so far...

[2021-12-01 16:01] ebeuerle commented on #39
We have been unable to reproduce this problem.  This is likely a TF quoting issue as @netjordan indicated.

[2021-12-01 16:01] #39 closed, assigned to nobody

[2021-12-02 11:38] iokush commented on #93
@ebeuerle The tf apply goes through as usual (no errors/warnings) but the already open alerts for the policy don't get resolved - is there anything specific you need from the tf apply output?

[2021-12-02 15:57] ebeuerle commented on #93
If the policy is marked disabled, then TF is working and the issue is with the underlying Prisma Cloud platform.   I would suggest opening a support ticket with Prisma Cloud support team.

[2021-12-03 21:30] jasonckeating opened #94 "User roles removing Prisma user's access"
## Describe the bug

When a `prismacloud_user_role` is defined in Terraform it attempts to remove any users that have been associated, if they haven't been added to Terraform.

## Expected behavior

User roles should be able to be defined without controlling associated users.
If users are associated in a way other than in the Terraform resource, they should be ignored.

Only if I have added a list

[2021-12-09 20:14] #93 closed, assigned to nobody

[2021-12-15 17:43] hi-artem opened #95 "Upgrade to the context-aware versions of Terraform resource functions"
### Is your feature request related to a problem?

Non-context aware create, read, update and delete are deprecated and recommended to be replaced.

References:
Create - https://pkg.go.dev/github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema#CreateFunc
Read - https://pkg.go.dev/github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema#ReadFunc
Delete - https://pkg.go.dev/github.com/hashicor

[2022-01-12 16:43] #94 closed, assigned to nobody

[2022-01-12 20:00] shinmog commented on #13
The issue here is that the Prisma Cloud API returns a bunch of asterisks instead of the configured value.  This happens for:

* `key` for Azure cloud accounts
* `PrivateKey` for GCP cloud accounts (found within the `credentials_json` param

Will be suppressing the diff detection so that the provider doesn't complain all the time, but a true fix will require some sort of API change that is beyond t

[2022-01-12 20:11] #13 closed, assigned to nobody

[2022-01-13 07:51] Montana opened #99 "Populating Dynamic Groups through PAN and Terraform"
Hey PAN,

I've ran `type=version` and requested the version type to show in a verbose esque manner on `PAN-OS`. I've been setting this up in conjunction with HashiCorp Terraform. It currently looks like this:

[code]
This is mainly using `panos_dynamic_user_group`, what I want to do is set up another machine do some flavor of a cron job and or a cron table,  which I could SSH into the appliance an

[2022-01-13 14:25] trishala1999 commented on #99
@Montana This issue is related to the panos terraform provider and not to the prisma cloud. Please report it here https://github.com/PaloAltoNetworks/terraform-provider-panos

[2022-01-13 14:26] Montana commented on #99
Ah, sorry about that @trishala1999, will do.

[2022-01-13 18:38] bedmunds-ih opened #100 "Seems 1.1.9 is throwing a Internal Validation Error."
## Describe the bug

Running Terraform Plan on 1.1.9 results in:
[code]

[2022-01-13 19:12] AjkayAlan commented on #100
+1 - This update has broken us too. Because this was a patch our automation pulled it in. IMO this release should be yanked, or a follow-up fix should be pushed.

[2022-01-13 20:50] #100 closed, assigned to nobody

[2022-01-28 01:56] bedmunds-ih opened #108 "cloud_type bug w/IAM Module"
## Describe the bug

I created a new IAM policy in the console which reflected the cloud type of "Any"
![image](https://user-images.githubusercontent.com/82523061/151471440-2a608ad6-112a-43e2-b2c3-165895bbef3e.png)

However, when I list the same policy ID via the API, the cloud_type reflects "AWS":
[code]
So I attempt to import this policy w/terraform import, which happens successfully, but then t

[2022-02-01 11:28] hross-frae opened #111 "(bug) Alert Rule does not allow the config type "Jira""
## Describe the bug

When configuring an alert rule notification config, it is not possible to set `jira` as config type.

## Expected behavior

Should be able to set `jira` as a config type.

## Current behavior

Validation fails when setting `jira` as a the type.

## Possible solution

- Update the go library for Prisma cloud with the Jira type: https://github.com/PaloAltoNetworks/prisma-cloud-g

[2022-02-07 16:31] jasonckeating opened #113 "prismacloud_integration now broken"
## Describe the bug

Previously working `prismacloud_integration` resources are now throwing errors.

## Expected behavior

`prismacloud_integration` resource should create an integration.

## Current behavior

Getting an unexpected end of JSON input
[code]

## Possible solution

## Steps to reproduce

1. Define a "prismacloud_integration"
2. Add an integration_config {}
3. Try to `terraform plan`

[2022-02-08 12:01] netjordan commented on #113
I can confirm we're also having this issue. I think it might be related to a change in Prisma Cloud rather than this provider specifically. We had the issue with both 1.1.10 and 1.2.2 of this provider.

Looking at the release notes, there's some deprecated intergration endpoints - https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-release-notes/prisma-cloud-release-information/feat

[2022-02-08 12:02] daemienb commented on #113
I can confirm we're also having this issue, could this please be looked at asap

[2022-02-09 15:05] n-schilling opened #114 "AWS SQS integration with additional IAM is not possible"
## Describe the bug

If you want to use the resource "prismacloud_integration" to create an integration with AWS SQS, you can't configure additional IAM information like role ARN or external id. As per API documentation (1), you need to set the parameter "moreInfo=true", which is not available in the Terraform provider as per documentation (2) and per code.

(1) https://prisma.pan.dev/api/cloud/ap

[2022-02-09 17:00] davemac30 opened #115 "prismacloud_account_group and prismacloud_account interfere"
## Describe the bug

We're using `prisma_cloudaccount` to add AWS accounts to Prisma in a terraform-managed account group. On a subsequent run of the config with the `prismacloud_account_group` resource, the accounts are removed from the account group even though we are not specifying `account_ids` on the `prismacloud_account_group`.

## Expected behavior

If `account_ids` in the `prismacloud_acco

[2022-02-17 23:03] justmitch123 opened #118 "prismacloud_enterprise_settings does not match API Spec for required values"
## Describe the bug
Terraform object `prismacloud_enterprise_settings` does not match the expected API Request object https://prisma.pan.dev/api/cloud/cspm/settings#operation/update-enterprise-settings.

It appears that as part of the new feature release [here](https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-release-notes/prisma-cloud-release-information/features-introduced-in-2

[2022-02-22 07:46] #113 closed, assigned to nobody

[2022-02-22 08:40] trishala1999 commented on #114
This issue is fixed in v1.2.3

[2022-02-22 08:40] #114 closed, assigned to nobody

[2022-03-09 11:35] #99 closed, assigned to nobody

[2022-03-15 15:12] hross-frae commented on #111
@trishala1999 are you able to have a look at this PR please and merge it. It is blocking our use of the terraform provider for Prisma Cloud

[2022-03-30 07:04] gtmtech opened #122 "Please publish darwin_arm64 versions of your provider"
## Describe the bug

Most of our teams use new mac M1s, and you have not published a darwin_arm64 version of your provider, so we get this trying to use it:

[code]

Note that although this refers to 1.1.10 - the same is true of latest versions.

Arm64 is the defacto standard of future mac operating systems, so it would be good to support this ASAP.

Many thanks!

[2022-03-30 19:32] mgarber-ops opened #123 "GCP Cloud Account Auto Onboarding"
### Is your feature request related to a problem?

Right now based on the latest documentation for 1.2.3 I don't see a flag to pass to resource https://registry.terraform.io/providers/PaloAltoNetworks/prismacloud/latest/docs/resources/cloud_account to auto-onboard GCP projects that are also bootstrapped with a respective master-service-account.

### Describe the solution you'd like

A boolean flag

[2022-04-01 05:59] #123 closed, assigned to nobody

[2022-04-07 17:32] ryan-stavella opened #125 "Policies changing "savedSearch" from "true" to "null" every plan"
## Describe the bug

All of our policies are managed via TF and are not saved searches. When we go to plan it wants to change every policy "savedSearch" from "true" to "null" even thought they are not saved searches. This will occur on the next plan even if no changes are applied

## Expected behavior

Policies should not be updated in place when there are no changes made. They should remain as ""

[2022-04-13 10:28] andrew-sweet-db opened #126 "Cannot unset prismacloud_policy.recommendation once set"
## Describe the bug
Setting the recommendation attribute of a prisma_policy to a null or empty value after having set it to a non-null, non-empty value is not applied.

## Expected behavior
Setting the recommendation attribute of a prisma_policy to a null or empty value and applying that configuration should set the corresponding value in Prisma Cloud.

## Current behavior
The recommendation value

[2022-04-19 21:28] jasonckeating opened #127 "Error: The terraform-provider-prismacloud_v1.2.3 plugin crashed!"
## Describe the bug

Terraform plan started failing due to provider error.

## Expected behavior

## Current behavior

Plan crashes.

## Possible solution

## Steps to reproduce

1. Run a Terraform plan

[code]

## Screenshots

## Context

Cannot manage PrismaCloud with Terraform.

## Your Environment

- Version used: 1.2.3
- Environment name and version (e.g. Chrome 59, node.js 5.4, python 3.7.3)

[2022-04-21 09:03] netjordan opened #129 "Feature Request - Resource for serverless scan settings"
Hello,

I am requesting the feature/terraform resources to be able to manage the serverless scan scopes.

At the moment, we are adding accounts to prisma with the `prismacloud_cloud_account` resource, however we have the manual step of configuring the serverless scope for the account afterwards.

Documentation/Resources:
https://prisma.pan.dev/api/cloud/cwpp/settings#operation/post-settings-server

[2022-04-21 15:32] n-schilling commented on #127
We have the same challenge, blocking us entirely.

Terraform v1.1.9
on darwin_amd64
provider registry.terraform.io/paloaltonetworks/prismacloud v1.2.3

(as well as with Terraform v.1.1.8)

[2022-04-22 11:16] trishala1999 commented on #127
@jasonckeating @n-schilling We tried to reproduce this issue from our end with `Terraform v1.1.9` and provider `registry.terraform.io/paloaltonetworks/prismacloud v1.2.3` on `darwin_amd64` but we are not able to reproduce. Everything is working fine for us. Please check again and still if you find the issue give us the detailed information for reproducing the same.

[2022-04-22 12:46] n-schilling commented on #127
Can you give me a hint on which information can be helpful for you to investigate further? I'm working on a Mac 12.3.1.

As part of my tests, I deleted the whole ".terraform" folder in my project to have a clean start. The stack trace I'm receiving is exactly as posted by @jasonckeating. Do you see potential issues in the code mentioned in the stack trace which could lead to a null pointer? Effect

[2022-04-22 13:35] jasonckeating commented on #127
@trishala1999 thanks for digging in.

Same as @n-schilling, no changes to Terraform.
Tested again this morning, I'm getting the documented error on:
- TFE Enterprise
- Macbook Pro (Monterrey 12.3.1)

[2022-04-22 14:24] trishala1999 commented on #127
@jasonckeating @n-schilling Can you please once confirm if this issue is occurring only with `v1.2.3` or with previous version also.

[2022-04-22 14:34] n-schilling commented on #127
@trishala1999 Unfortunately, I can't easily roll back my code to test previous versions. It definitely occurs with `v1.2.3`.

[2022-04-22 15:12] jasonckeating commented on #127
tested with `v1.2.2` and `v1.2.1` (different error)
[code]

[2022-04-22 15:53] trishala1999 commented on #127
Have raised [this PR](https://github.com/PaloAltoNetworks/terraform-provider-prismacloud/pull/130) to fix this issue. Will get this merged soon.

[2022-04-25 12:53] iokush commented on #127
@trishala1999 Could we get an estimate by when the fix will be merged? Unfortunately, we're completely blocked as well.

[2022-04-25 15:03] trishala1999 commented on #127
@iokush Sorry for inconvenience, we will get this merged by tomorrow EOD and push the new release.

[2022-04-26 10:08] #118 closed, assigned to nobody

[2022-04-26 10:10] #127 closed, assigned to nobody

[2022-04-26 17:17] trishala1999 commented on #126
@andrew-sweet-db This issue is fixed in v1.2.6. Please check

[2022-04-26 17:23] trishala1999 commented on #125
@ryan-stavella This issue fixed in v1.2.6 but also it's required to add `"savedSearch": false` or `"savedSearch": true` in tf resource block based on whether policy is using a RQL query or saved search id. Please refer https://registry.terraform.io/providers/PaloAltoNetworks/prismacloud/latest/docs/resources/policy

[2022-04-26 17:26] trishala1999 commented on #122
@gtmtech darwin_arm64 version is published in latest release v1.2.6. Please check.

[2022-04-26 17:27] trishala1999 commented on #111
@hross-frae PR is merged in the new release v1.2.6. Please check.

[2022-04-27 10:23] hross-frae commented on #111
@trishala1999, these changes work successfully

[2022-04-27 10:23] #111 closed, assigned to nobody

[2022-04-28 17:26] ryan-stavella commented on #125
Confirmed 1.2.6 resolved out issue. Thanks!

[2022-04-28 17:26] #125 closed, assigned to nobody

[2022-05-18 03:46] #126 closed, assigned to nobody

[2022-05-18 03:47] #122 closed, assigned to nobody

[2022-05-23 11:12] iokush opened #133 "Terraform plan stage "Client.Timeout exceeded while awaiting headers" error"
## Describe the bug

Lately, we've been getting _Client.Timeout exceeded while awaiting headers_ error when running terraform plan which involves creating policies and saved searches. Sometimes retrying the stage works but not always.

## Current behavior

Example error message:
│ Error: Post "https://api.eu.prismacloud.io/search/config": context deadline exceeded (Client.Timeout exceeded while aw

[2022-06-03 14:56] 5kancho opened #138 "Support for custom build policies"
### Is your feature request related to a problem?

The [prisma_policy](https://registry.terraform.io/providers/PaloAltoNetworks/prismacloud/latest/docs/resources/policy) resource for the provider does not contain all required arguments to configure build policy rules. These are the custom policies that can be configured for IaC scanning (Bridgecrew). There is a way to define that the rule is for a

[2022-06-10 17:35] andrew-mckenzie opened #139 "Terraform Plan - Error: "cs_id": required field is not set"
## Describe the bug
After performing a terraform plan, we are getting an error noting ""cs_id": required field is not set". In github, the plan succeeds for our GovCloud environment but fails in our other prisma environment. The top error references a 400 error connecting to our prisma console in the compliance/requirements section, perhaps noting that it is unable to reach our custom compliance s

[2022-06-17 07:41] iokush commented on #133
We're seeing the Client.timeout along with a bunch of other errors lately. Our observation is this happens when there are substantial changes to policies, for example adding a tag or updating remediation steps in bulk but these errors are currently blocking us with the rollout.

`Error: 500/https://api.eu.prismacloud.io/search/event Error(msg:internal_error severity:error subject:could not execute

[2022-06-24 01:16] dsmagen18 opened #141 "Error 400: When creating a new Prisma account, parameter group_ids only creates new account groups, will not add to an existing account group"
## Describe the bug

When creating a new Prisma account group, there is a required parameter "group_ids".  When this parameter is defined with existing account groups, it generates error 404

Error: 400/https://api3.prismacloud.io/cloud/aws Error(msg:invalid_account_group_ids severity:error subject:)

But - if a new account group resource is specified, Terraform will create both the new account an

[2022-06-24 05:53] trishala1999 commented on #141
@dsmagen18 To assign the cloud account to existing account groups instead of giving names of the account groups you have to provide their UUIDs in `group_ids` field.

[2022-06-24 14:30] dsmagen18 commented on #141
Hi @trishala1999.  Thanks for the quick response.  Where is the UUID of an account group listed?  It is not in Settings->Account Groups, and does not appear as an available column.  Perhaps some Prisma API query?

[2022-06-24 14:56] trishala1999 commented on #141
@dsmagen18 You can get account group id in multiple ways -
1. In UI , settings-> account groups you can click on edit account group and you will get the id in url.
2. You can also use this API https://prisma.pan.dev/api/cloud/cspm/account-groups#operation/get-account-group-name to get the names and ids of all account groups
3. Or else you can use terraform data source [prismacloud_account_group](h

[2022-06-24 15:11] dsmagen18 commented on #141
As for #1 Settings->Account Groups, editing account group shows blank under "Non-Onboarded Account IDs"
Trying #2 and #3...

[2022-06-24 15:38] dsmagen18 commented on #141
As for #2, after getting the 10  minute token, the following API call:

curl --request GET \
  --url 'https://api.prismacloud.io/cloud/group?excludeCloudAccountDetails=false' \
  --header 'x-redlock-auth: 1111222233334444'

generated no output and no error.  Could the UUIDs just be missing from the account groups?

[2022-06-24 16:12] dsmagen18 commented on #141
@trishala1999,

Your suggestion #2, the python script, was a winner!!!  Thanks so much

Steps:
1) Generate the JWT token
          Ref:  https://prisma.pan.dev/docs/cloud/cspm/cspm-gs

2) Create python script getAccountGroupUUID below, replacing
       a)  api.prismacloud.io  with the actual one   (ex: api3.prismacloud.io)
          Ref: https://prisma.pan.dev/api/cloud/api-urls
       b) SOME_BOO

[2022-06-24 16:12] #141 closed, assigned to nobody

[2022-06-28 10:08] tumbone commented on #133
I have also come across this issue. My observation is that it is being caused by the more complex search queries (rql with joins etc). My wild assumption is that the resource waits for the search results to be returned before creation and that seems to be what results in a timeout.
My current workaround is to delete any of my custom policies that have complex queries and this seems to do the trick

[2022-06-28 14:53] trk13 opened #142 "HashiCorp go-getter CVE-2022-30321"
HashiCorp go-getter has multiple critical vulnerabilities and should be updated.

https://nvd.nist.gov/vuln/detail/CVE-2022-30321
https://nvd.nist.gov/vuln/detail/CVE-2022-30323
https://nvd.nist.gov/vuln/detail/CVE-2022-30322
https://nvd.nist.gov/vuln/detail/CVE-2022-26945

https://github.com/PaloAltoNetworks/terraform-provider-prismacloud/blob/092a7e3a9868b10c8bdf090406b17ae03deab238/go.sum#L182-

[2022-06-29 07:21] iokush commented on #133
@tumbone That could be the case, for us even simple out of the box search queries show this error so it looks some rate limiting on Prisma Cloud side which fails any subsequent search queries that follow say a complex one which indeed defeats the purpose of the product. We have escalated this issue so hopefully, it can be resolved soon.

[2022-06-29 09:23] tumbone commented on #133
@iokush Totally agreed, it definitely defeats the purpose hence I'm hoping avoiding the complex search queries is only a temporary workaround. You are also onto something regarding the rate limiting, you may want to check with Prisma Cloud that they are not running your cluster with scaled down resources.
To add a bit more context here: I've come across a scenario in which I got this timeout when

[2022-07-01 08:53] iokush commented on #133
@tumbone We're in touch with them but they don't seem to have identified any rate limiting for our tenant (yet). That's very relatable, we also run into issues where the pipeline works after a while like yours so we didn't mind the error back then but recently the frequency of these timeout errors have increased substantially blocking us for weeks.
Let's hope they find a solution to this altogethe

[2022-07-18 16:58] erikpaasonen opened #149 "Feature: new data source for API-generated External ID when onboarding AWS accounts"
### Is your feature request related to a problem?

Regarding this quote from the documentation for a [prismacloud_org_cloud_account](https://registry.terraform.io/providers/PaloAltoNetworks/prismacloud/latest/docs/resources/org_cloud_account) (upcoming [feature enhancement notes](https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-release-notes/prisma-cloud-release-information/look-

[2022-08-04 14:07] ftbrecordspan commented on #7
Closing due to inactivity

[2022-08-04 14:07] #7 closed, assigned to nobody

[2022-08-04 14:10] #92 closed, assigned to nobody

[2022-08-11 22:02] mtobias-getty commented on #133
Also experiencing this, I believe I have confirmation that this is tied to how the RQL searches are processed, since Terraform is a layer on top of the API, there isn't actually an API for returning RQL search criteria, so they are using the API for returning actual RQL results, which means the searches actually have to run.

I've been told a workaround is to include RQL directly in the policy res

[2022-08-12 12:30] trishala1999 commented on #133
@iokush @tumbone @mtobias-getty As a workaround can you please try increasing the timeout of TF provider by setting `timeout` parameter in provider block https://registry.terraform.io/providers/PaloAltoNetworks/prismacloud/latest/docs#timeout. Its default value is 90s, so you can try increasing it upto 300-500s because RQL queries can take longer that 5 mins also sometimes. Please try this and let

[2022-08-16 20:30] mtobias-getty commented on #133
Thank you for the suggestion @trishala1999, this does appear to be a workaround for this issue.  The core issue still exists as even validating many RQL searches can take substantial time.  I've created the following AHA Idea to address what I believe is the core of the issue and would suggest anyone else having this issue also take a look and vote for this https://prismacloud.ideas.aha.io/ideas/P

[2022-08-24 14:12] ftbrecordspan commented on #142
Fixed under v1.2.8

[2022-08-24 14:12] #142 closed, assigned to nobody

[2022-09-27 03:41] gtmtech opened #157 "Inconsistent final plan"
## Describe the bug

I was applying some prismacloud resources and received this error

[code]

## Expected behavior

It should have worked, this is clearly a bug in the provider

## Current behavior

It errored with the above error

## Steps to reproduce

Difficult to say, my "plan" only resulted in one delta - the need to recalculate a role arn. Applying this led to the error above.

[code]

Ver

[2022-09-29 14:15] aymericpineau opened #158 "role_type "Developer" missing in resource "user_role""
PrismaCloud v1.2.9

Hi, the resource "**prismacloud_user_role**" allows to choose the "**role_type**".
However, the "**role_type**" parameter is missing the "**Developer**" role

Here is the Terraform Error raised when trying to create a "**role_type = Developer**" role
**Error: expected role_type to be one of [System Admin Account Group Admin Account Group Read Only Cloud Provisioning Admin Accou

[2022-09-30 07:11] 5kancho commented on #138
Resolved in provider version 1.2.9.

[2022-09-30 07:11] #138 closed, assigned to nobody

[2022-10-14 10:10] landro commented on #158
We need this too! Also see: https://github.com/PaloAltoNetworks/terraform-provider-prismacloud/pull/160

[2022-10-14 10:20] landro opened #161 "prismacloud_code_repositories data needed"
### Is your feature request related to a problem?

There is no way to retrieve code repository ids using terraform as of now

### Describe the solution you'd like

We'd like you to provide a new **prismacloud_code_repositories** data lookup
Apparently API provides capability: https://prisma.pan.dev/api/cloud/code/repositories/#tag/Repositories
However, binding does not seem to provide it: https://

[2022-10-28 10:24] landro commented on #161
Any progress here?

[2022-10-28 11:02] landro commented on #158
#160 was merged. This issue can be closed.

[2022-10-28 11:17] trishala1999 commented on #158
Issue is fixed in version 1.2.10

[2022-10-28 11:17] #158 closed, assigned to nobody

[2022-11-02 11:14] trishala1999 commented on #133
@iokush @tumbone @mtobias-getty In version v1.2.10 we have added support for  a new param `skip_result` in resource [prismacloud_rql_search](https://registry.terraform.io/providers/PaloAltoNetworks/prismacloud/latest/docs/resources/rql_search). Adding this field in RQL search resource block with value as `true` will skip the RQL query execution and search results in response. This should fix the i

[2022-11-02 14:33] ftbrecordspan commented on #161
@landro the Bridgecrew provider implements a [repositories data source](https://registry.terraform.io/providers/PaloAltoNetworks/bridgecrew/latest/docs/data-sources/repositories) which should return the repo IDs you need. Have you tried this?

[2022-11-07 08:28] tumbone commented on #133
Hi @trishala1999 Thanks for keeping us in the loop regarding this issue. I have indeed tested this new parameter and I can confirm it does indeed work for us. The custom policies are created a lot quicker than what we had become accustomed to, so this  does seem to resolve the issue in relation to policy creation. Much appreciated!

[2022-11-08 20:43] dwchowscalesec opened #163 "Failed to query available provider packages"
## Describe the bug

Performing a terraform init results in the error: "Failed to query available provider packages"

## Expected behavior

Non error return for terraform init and is defined using the documentation at: https://registry.terraform.io/providers/PaloAltoNetworks/prismacloud/latest/docs#example-provider-usage

## Current behavior

Full Error:
`Initializing modules...

Initializing the

[2022-11-08 20:50] dwchowscalesec commented on #163
Closing issue. Error comes when trying to use custom local module in source referencing it.

[2022-11-08 20:50] #163 closed, assigned to nobody

[2022-11-10 21:04] hi-artem commented on #43
I will just add this here for everyone's awareness https://github.com/PaloAltoNetworks/terraform-provider-prismacloudcompute